{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create Listing</h2>
        <form action="{% url 'create_listing' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br>
        
        <label for="image">Image:</label><br>
        <input type="file" id="image" name="image" accept="image/*"><br>
        
        <label for="desc">Description:</label><br>
        <textarea id="desc" name="desc" rows="4" cols="50" required></textarea><br>
        
        <label for="current_highest_bid">Current Highest Bid:</label><br>
        <input type="number" id="current_highest_bid" name="current_highest_bid" min="0"><br>
        
        <button type="submit">Create Listing</button>
    </form>
    
{% endblock %}